/*General styles*******************************************************************************/
html{
    background-color: black; /*Declares background color for page margins*/
}

body {
    font-family: "Trebuchet MS", arial, sans-serif;
    
}

p
{
    line-height: 1.8;
}

/*Link styles*/
a {
    color: black;
}

a:hover {
    color: darkgray;
}

h1 /*used solely for website title*/
{
    font-family: "Lucida Console", arial, sans-serif;
    text-shadow: 3px 3px 3px darkblue;
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 0.5em;
}

h2
{
    padding-top: 0.5em;
    border-top: 0.2em solid #f2f28d;
    font-family: "Lucida Console", arial, sans-serif;
}

/*List styles*****************************************************************************************************/
li {
    margin-bottom: 0.5em;
    list-style-image: url("images/triangle.png"); /*Uses a custom icon for bullet points*/
}

/*Table styles********************************************************************************************/
table {
    width: 100%; /*forces table to span entire content container*/
    text-align: left;
    border-collapse: collapse; /*prevents gaps between table cells*/
    margin-bottom: 1em;
}

td, th {
    border: 0.15em solid black;
    padding: 0.2em;
}

th {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: dodgerblue;   /*Sets first row (the header) to blue*/
    color: white;
}

tr:nth-child(odd) {
    background-color: lightgray; /*Sets every other table row to grey*/
}

tr:nth-child(even) {
    background-color: white; /*Sets every other table row to white*/
}

/*Main content container styles************************************************************************/
.container { /*sets up page container*/
    display: grid;
    grid-template-areas: /*declares matrix indicating where subclasses are arranged*/
    "header header"
    "menu content"
    "footer footer";
    grid-template-columns: 1fr 5fr;
    background-color: black;
    border: 0.2em ridge white;
    
}

.container > div.header {   /*Page header style*/
    grid-area: header;
    text-align: center;
    font-size: 2em;
    background-color: dodgerblue;
    color: white;
    border-bottom: 0.2em ridge royalblue;
}
.container > div.menu { /*Table of contents style*/
    grid-area: menu;
    background-color: indianred;
    color: black;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    border-right: 0.2em ridge #c33c3c;
}
.container > div.content {  /*Main page content style*/
    grid-area: content;
    background-color: lightgoldenrodyellow;
    color: black;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 70vh;
}
.container > div.footer {   /*Footer style*/
    grid-area: footer;
    background-color: dodgerblue;
    text-align: center;
    font-size: 0.8em;
    color: white;
    border-top: 0.2em ridge royalblue;
}

/*Quiz styles*****************************************************************************/
.question-header
{
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 0.5em;
    border-top: 0.2em solid #f2f28d;
}

.option, .textfield {
    background-color: #f7f7bb;
    border: 0.1em #f2f28d groove;
    padding: 0.5em;
    margin-top: 0.5em;
    max-width: 40em;
}

.option:hover, .textfield:hover {
    background-color: #f2f28d;
    border: 0.1em #eded5e groove;
    padding: 0.5em;
    margin-top: 0.5em;
    max-width: 40em;
}

.option-correct, .textfield-correct
{
    background-color: #90ee90;
    border: 0.1em #65e765 groove;
    padding: 0.5em;
    margin-top: 0.5em;
    max-width: 40em;
    font-weight: bold;
}

.option-incorrect, .textfield-incorrect
{
    background-color: #e19d9d;
    border: 0.1em #d57676 groove;
    padding: 0.5em;
    margin-top: 0.5em;
    max-width: 40em;
}

.quiz-button
{
    background-color: #f2f28d;
    border: 0.1em #eded5e groove;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.quiz-button:hover
{
    background-color: #eded5e;
    border: 0.1em #e8e830 groove;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.quiz-result
{
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 0.5em;
}